@import 'noty/src/noty.scss';

.noty_body {
  display: flex;
  i {
    margin-right: 16px;
  }
}

@media (max-width: 450px) {
  #noty_layout__bottomRight, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottom,
  #noty_layout__topRight, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__top {
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100vw;
    & > div {
      margin: 0!important;
      padding: 4px 0;
    }
  }
}